
<body>
    <div class="login-div">
        
     <div class="row" style="align-items: center; margin: auto;text-align: center;">
                <img src="assets/logo2.png" alt="Test Image"  width="110" height="60px"/></div>
            <div>
                <h1>Forgot Password?</h1>
            </div>
  
     <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" > -->
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">


            <div class="row">
                <div class="col s12"style="color: #07B558;">Enter your email address to reset your password.</div>
              </div>&nbsp;
     
          <mat-form-field appearance="outline" style="width: 100%;" >
              <mat-label style="color: #07B558;">Email or Phone</mat-label>
              <input  matInput placeholder="Email or Phone" formControlName="email" >
          </mat-form-field>&nbsp;
  
          <button type="submit" [disabled]="!profileForm.valid"  style="float: left;" mat-raised-button color="success" >Send email</button>
          
          <button type="submit"  mat-raised-button color="success" routerLink="/login" >Back</button>
      
        </form>
    
    </div>
     
    
    
</body>

