

<body>
    <div class="login-div">
        
     <div class="row" style="align-items: center; margin: auto;text-align: center;">
                <img src="assets/logo2.png" alt="Test Image"  width="110" height="60px"/></div>
            <div>
                <h1>Reset Password</h1>
            </div>
  
     <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" > -->
        
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <p>We have sent an email to your email address, please get the otp from there.</p>
            <div class="row">
                <div class="col s12"style="color: #07B558;">Please enter a new Password.</div>
              </div>&nbsp;
            
             
              <mat-form-field appearance="outline" style="width: 100%;" >
                <mat-label style="color: #07B558;">OTP</mat-label>
                <input matInput placeholder="OTP"formControlName="otp">
            </mat-form-field>&nbsp;

          <mat-form-field appearance="outline" style="width: 100%;" >
              <mat-label style="color: #07B558;">New Password</mat-label>
              <input  matInput placeholder="New Password" formControlName="newpassword" >
          </mat-form-field>&nbsp;

          <mat-form-field appearance="outline" style="width: 100%;" >
            <mat-label style="color: #07B558;">Re-enter Password</mat-label>
            <input  matInput placeholder="Re-enter Password" formControlName="reenterpassword">
          </mat-form-field>&nbsp;

          <div *ngIf="newpasswordError !== null">Password mismatch</div>

         <button type="submit" [disabled]="!profileForm.valid" style="float: left;" mat-raised-button color="success"  >Reset Password</button>
          
        </form>
          
      
       
    </div>
    
</body>